In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('tianchi_mobile_recommend_train_user.csv')
data.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,98047837,232431562,1,NaN,4245,2014-12-06 02
1,97726136,383583590,1,NaN,5894,2014-12-09 20
2,98607707,64749712,1,NaN,2883,2014-12-18 11
3,98662432,320593836,1,96nn52n,6562,2014-12-06 10
4,98145908,290208520,1,NaN,13926,2014-12-16 21

In [3]:
item = pd.read_csv('tianchi_mobile_recommend_train_item.csv')
item.head()

     item_id item_geohash  item_category
0  312051294          NaN           8270
1   99999754          NaN           7393
2  131746128          NaN           7876
3  385731330          NaN          10544
4  100004415          NaN           3064

## 数据字段解释：
+ user_id：用户身份，
+ item_id：商品ID，
+ behavior_type：用户行为类型（包含点击、收藏、加购物车、支付四种行为，分别用数字1、2、3、4表示）
+ user_geohash：地理位置
+ item_category：品类ID（商品所属的品类）
+ time：用户行为发生的时间

## 电商模式常用分析
+ 用户行为分析：pv uv
+ 用户消费行为分析：消费次数，日ATPPU 日ARPU,付费率
+ 复购情况分析：复购时间间隔消费次数分布
+ 漏斗流失分析
+ 用户行为与商品种类分析
+ 二八理论分析
+ 用户价值RFM分析

In [4]:
# 用户PV、UV分析
# data['days'] = data['time'][0:10]
data['day'] = data['time'].str[0:10]
data.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time,day
0,98047837,232431562,1,NaN,4245,2014-12-06 02,2014-12-06
1,97726136,383583590,1,NaN,5894,2014-12-09 20,2014-12-09
2,98607707,64749712,1,NaN,2883,2014-12-18 11,2014-12-18
3,98662432,320593836,1,96nn52n,6562,2014-12-06 10,2014-12-06
4,98145908,290208520,1,NaN,13926,2014-12-16 21,2014-12-16

In [19]:
data.groupby(['day','behavior_type']).agg(['count'])

                         user_id item_id user_geohash item_category    time
                           count   count        count         count   count
day        behavior_type
2014-11-18 1              345855  345855        93312        345855  345855
           2                6904    6904         1835          6904    6904
           3               10212   10212         2657         10212   10212
           4                3730    3730         1062          3730    3730
2014-11-19 1              337870  337870        97100        337870  337870
...                          ...     ...          ...           ...     ...
2014-12-17 4                3615    3615         1360          3615    3615
2014-12-18 1              354746  354746       134681        354746  354746
           2                7440    7440         2709          7440    7440
           3                9825    9825         3713          9825    9825
           4                3586    3586         1427          3586    3586

[124 rows x 5 columns]

In [5]:
pv_day = data.groupby('day')['behavior_type'].value_counts().unstack()
type(pv_day)

pandas.core.frame.DataFrame

In [6]:
pv_day.columns = ['点击','收藏','加购物车','支付']
pv_day['点击']

day
2014-11-18    345855
2014-11-19    337870
2014-11-20    332792
2014-11-21    314572
2014-11-22    340563
2014-11-23    361221
2014-11-24    357192
2014-11-25    349392
2014-11-26    340621
2014-11-27    350040
2014-11-28    321813
2014-11-29    344127
2014-11-30    379439
2014-12-01    372095
2014-12-02    382052
2014-12-03    387497
2014-12-04    376307
2014-12-05    340976
2014-12-06    367126
2014-12-07    376596
2014-12-08    364097
2014-12-09    374261
2014-12-10    397661
2014-12-11    460329
2014-12-12    641507
2014-12-13    385337
2014-12-14    380717
2014-12-15    376624
2014-12-16    373399
2014-12-17    363757
2014-12-18    354746
Name: 点击, dtype: int64

In [7]:
days = {"date":list(data.groupby('day').groups.keys())}
pv_day_new = pd.DataFrame(days)

In [8]:
pv_day_new['点击'] = pv_day['点击']
pv_day_new['收藏'] = pv_day['收藏']
pv_day_new['加购物车'] = pv_day['加购物车']
pv_day_new['支付'] = pv_day['支付']

In [9]:
pv_day.reset_index(inplace=True)
pv_day

           day      点击     收藏   加购物车     支付
0   2014-11-18  345855   6904  10212   3730
1   2014-11-19  337870   7152  10115   3686
2   2014-11-20  332792   7167  10008   3462
3   2014-11-21  314572   6832   8679   3021
4   2014-11-22  340563   7252   9970   3570
5   2014-11-23  361221   7702  10432   3347
6   2014-11-24  357192   7333  10391   3426
7   2014-11-25  349392   7492   9891   3464
8   2014-11-26  340621   7324   9378   3573
9   2014-11-27  350040   7699   9975   3670
10  2014-11-28  321813   6484   9123   3218
11  2014-11-29  344127   7214  10145   3211
12  2014-11-30  379439   7786  10779   3616
13  2014-12-01  372095   7319  11288   3909
14  2014-12-02  382052   8022  11521   3621
15  2014-12-03  387497   8492  11732   3885
16  2014-12-04  376307   8559  11395   3691
17  2014-12-05  340976   7474  10109   3319
18  2014-12-06  367126   8323  10889   3272
19  2014-12-07  376596   8632  11267   3256
20  2014-12-08  364097   8236  10915   3419
21  2014-12-09  374261   8552  11763   3449
22  2014-12-10  397661   8753  12280   3216
23  2014-12-11  460329   9310  15643   3226
24  2014-12-12  641507  10446  24508  15251
25  2014-12-13  385337   7859  10486   3478
26  2014-12-14  380717   8128  10213   3483
27  2014-12-15  376624   7758  10210   3764
28  2014-12-16  373399   7749  10166   3771
29  2014-12-17  363757   7163  10256   3615
30  2014-12-18  354746   7440   9825   3586

In [11]:
sns.lineplot(data=pv_day)
plt.show()

ValueError: A wide-form input must have only numeric values.

In [10]:
uv_day = data.groupby(['day','behavior_type'])['user_id'].nunique().unstack()
uv_day.reset_index(inplace=True)

In [12]:
uv_day.reset_index(drop=True)
uv_day.columns

behavior_type         day     1     2     3     4
0              2014-11-18  6340  1516  2221  1539
1              2014-11-19  6418  1499  2201  1511
2              2014-11-20  6332  1502  2210  1492
3              2014-11-21  6275  1439  2023  1330
4              2014-11-22  6184  1479  2100  1411
5              2014-11-23  6371  1567  2187  1436
6              2014-11-24  6511  1542  2236  1524
7              2014-11-25  6346  1561  2160  1497
8              2014-11-26  6353  1539  2150  1487
9              2014-11-27  6357  1493  2203  1527
10             2014-11-28  6185  1479  2063  1442
11             2014-11-29  6220  1464  2057  1377
12             2014-11-30  6378  1590  2317  1534
13             2014-12-01  6543  1588  2428  1657
14             2014-12-02  6547  1731  2510  1585
15             2014-12-03  6581  1735  2464  1697
16             2014-12-04  6528  1711  2518  1585
17             2014-12-05  6364  1590  2303  1493
18             2014-12-06  6438  1665  2411  1452
19             2014-12-07  6420  1680  2411  1403
20             2014-12-08  6560  1652  2480  1551
21             2014-12-09  6563  1696  2487  1429
22             2014-12-10  6649  1733  2632  1442
23             2014-12-11  6892  1891  3078  1449
24             2014-12-12  7718  2095  3958  3897
25             2014-12-13  6774  1656  2420  1549
26             2014-12-14  6668  1636  2371  1506
27             2014-12-15  6784  1628  2396  1627
28             2014-12-16  6726  1642  2349  1650
29             2014-12-17  6636  1553  2298  1570
30             2014-12-18  6576  1520  2288  1552

In [15]:
uv_day.columns = ['day','点击','收藏','加购物车','支付']

In [16]:
uv_day

           day    点击    收藏  加购物车    支付
0   2014-11-18  6340  1516  2221  1539
1   2014-11-19  6418  1499  2201  1511
2   2014-11-20  6332  1502  2210  1492
3   2014-11-21  6275  1439  2023  1330
4   2014-11-22  6184  1479  2100  1411
5   2014-11-23  6371  1567  2187  1436
6   2014-11-24  6511  1542  2236  1524
7   2014-11-25  6346  1561  2160  1497
8   2014-11-26  6353  1539  2150  1487
9   2014-11-27  6357  1493  2203  1527
10  2014-11-28  6185  1479  2063  1442
11  2014-11-29  6220  1464  2057  1377
12  2014-11-30  6378  1590  2317  1534
13  2014-12-01  6543  1588  2428  1657
14  2014-12-02  6547  1731  2510  1585
15  2014-12-03  6581  1735  2464  1697
16  2014-12-04  6528  1711  2518  1585
17  2014-12-05  6364  1590  2303  1493
18  2014-12-06  6438  1665  2411  1452
19  2014-12-07  6420  1680  2411  1403
20  2014-12-08  6560  1652  2480  1551
21  2014-12-09  6563  1696  2487  1429
22  2014-12-10  6649  1733  2632  1442
23  2014-12-11  6892  1891  3078  1449
24  2014-12-12  7718  2095  3958  3897
25  2014-12-13  6774  1656  2420  1549
26  2014-12-14  6668  1636  2371  1506
27  2014-12-15  6784  1628  2396  1627
28  2014-12-16  6726  1642  2349  1650
29  2014-12-17  6636  1553  2298  1570
30  2014-12-18  6576  1520  2288  1552

In [17]:
pv_day

           day      点击     收藏   加购物车     支付
0   2014-11-18  345855   6904  10212   3730
1   2014-11-19  337870   7152  10115   3686
2   2014-11-20  332792   7167  10008   3462
3   2014-11-21  314572   6832   8679   3021
4   2014-11-22  340563   7252   9970   3570
5   2014-11-23  361221   7702  10432   3347
6   2014-11-24  357192   7333  10391   3426
7   2014-11-25  349392   7492   9891   3464
8   2014-11-26  340621   7324   9378   3573
9   2014-11-27  350040   7699   9975   3670
10  2014-11-28  321813   6484   9123   3218
11  2014-11-29  344127   7214  10145   3211
12  2014-11-30  379439   7786  10779   3616
13  2014-12-01  372095   7319  11288   3909
14  2014-12-02  382052   8022  11521   3621
15  2014-12-03  387497   8492  11732   3885
16  2014-12-04  376307   8559  11395   3691
17  2014-12-05  340976   7474  10109   3319
18  2014-12-06  367126   8323  10889   3272
19  2014-12-07  376596   8632  11267   3256
20  2014-12-08  364097   8236  10915   3419
21  2014-12-09  374261   8552  11763   3449
22  2014-12-10  397661   8753  12280   3216
23  2014-12-11  460329   9310  15643   3226
24  2014-12-12  641507  10446  24508  15251
25  2014-12-13  385337   7859  10486   3478
26  2014-12-14  380717   8128  10213   3483
27  2014-12-15  376624   7758  10210   3764
28  2014-12-16  373399   7749  10166   3771
29  2014-12-17  363757   7163  10256   3615
30  2014-12-18  354746   7440   9825   3586